<body class="body body--{{ pageType }}">
	<div class="body__header">{% include 'blocks/header/header.njk' %}</div>
	<div class="body__footer">{% include 'blocks/main/main.njk' %}</div>
    <div class="body__footer">{% include 'blocks/footer/footer.njk' %}</div>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.includes%2CIntersectionObserver"></script>
	<script src="/scripts/scroll-animation.js"></script>
	<script src="/scripts/lang.js"></script>
</body>