.preview {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}

.preview__wrapper {
	max-width: 350px;
	width: calc(100% - 60px);
	margin: 30px 30px 30px 30px;
}

.preview__image {
	width: 100%;
}
