<div class="preview" aria-hidden="true">
	<div class="preview__wrapper">
		<picture>
			<source srcset="/images/iphone-screen.webp" type="image/webp" />
			<img draggable="false" class="preview__image" src="/images/iphone-screen.png" width="300px" />
		</picture>
	</div>
</div>
