<main class="main">
	{% if pageType == 'home' %}
	<div class="main__preview">
		{% include "blocks/preview/preview.njk" %}
	</div>
	<div class="main__features">
		{% include "blocks/features/features.njk" %}
	</div>
	{% elif pageType == 'privacy' %}
	{% include "blocks/user-info/user-info.njk" %}
	{% include "blocks/contacts/contacts.njk" %}
	{% endif %}
</main>