.main__preview {
	position: sticky;
	top: 0;

	min-height: 100vh;
}

.main__features {
	position: sticky;

	min-height: 200vh;
	mix-blend-mode: difference;
}

@media (prefers-contrast: more) {
	.main__features {
		mix-blend-mode: unset;
	}
}
