<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <meta name="author" content="{{ metadata.author }}" />
    <meta name="copyright" content="{{ metadata.copyright }}" />
	<meta name="description" content="{{ metadata.description }}" />

	{% if pageType == "home" %}
		<meta name="keywords" content="{% for keyword in metadata.keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}">
    {% endif %}

	<meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:site_name" content="{{ metadata.appName }}" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:locale" content="{{ lang }}" />
	<meta property="og:image" content="{{ metadata.previewImage }}" />

    <meta name="twitter:title" content="{{ metadata.title }}" />
	<meta name="twitter:description" content="{{ metadata.description }}" />
	<meta property="twitter:image" content="{{ metadata.previewImage }}" />
	<meta name="twitter:card" content="summary" />

	{% if pageType == "home" %}
		<script type="application/ld+json">
			[
				{
					"@context": "http://schema.org",
					"@type": "MobileApplication",
					"name": "{{ metadata.appName }}",
					"description": "{{ metadata.description }}",
					"image": "{{ metadata.previewImage }}",
					"screenshot": [
						"https://u1-ma.dmkskn.com/images/iphone-screen.png"
					],
					"operatingSystem": "iOS",
					"offers": { "@type": "Offer", "price": "0.99", "priceCurrency": "USD" },
					"applicationCategory": "{{ metadata.appCategory }}",
					"keywords": [
						{% for keyword in metadata.keywords %}
							"{{ keyword }}"{% if not loop.last %}, {% endif %}
						{% endfor %}
					],
					"author": [
						{
							"@type": "Person",
							"name": "{{ metadata.author }}",
							"image": "https://dmkskn.com/preview.jpg",
							"url": "https://dmkskn.com"
						}
					]
				}
			]
		</script>
	{% endif %}

	{% for icon in icons %}
	<link
		rel="{{ icon.rel }}"
		href="{{ icon.href }}"
		type="{{ icon.type }}"
		{% if icon.sizes != undefined %}sizes="{{ icon.sizes }}"{% endif %}
	/>
	{% endfor %}

	<link rel="preload" href="/style.css" as="style">
	<link rel="preload" href="/scripts/lang.js" as="script">
	<link rel="preload" href="/scripts/scroll-animation.js" as="script">
	<link rel="preload" href="/scripts/u1-ma.js" as="script">
	<link rel="preload" as="image" href="/images/iphone.webp" type="image/webp" />

	<link rel="stylesheet" href="/style.css" />

    <title>{{ metadata.appName }}</title>
</head>