<footer class="footer">
    <hr class="footer__separator" />
    <div class="footer__content">
		{% if pageType == 'home' %}
		{% include "blocks/badge/badge.njk" %}
		{% endif %}

		<p class="footer__text">
			{% if pageType == 'privacy' %}
			<a class="back-link" href="{% if lang == 'ru' %}/ru{% endif %}/index.html">
				{% if lang == 'ru' %}Назад{% else %}Back{% endif %}
			</a>
			{% else %}
			<span>
				{{ copyright | safe }}
			</span>
			{% endif %}
		</p>

	</div>
</footer>