<section class="user-info">
	<h2 class="user-info__title">{{ userInfo.title }}</h2>

	<div class="user-info__list">
		{% for feature in userInfo.items %}
			<p class="user-info__item">
				<span class="user-info__item-text scroll-animation">
					{{ feature | safe }}
				</span>
			</p>
		{% endfor %}
	</div>
</section>