
<section class="app-store">
	<h2 class="app-store__title" lang="en">{{ appStore.title }}</h2>
	<div class="app-store__content scroll-animation">
		{% include "blocks/badge/badge.njk" %}
	</div>
</section>