<section class="contacts" >
	<h2 class="contacts__title">{{ contacts.title | safe }}</h2>

	<div id="support" class="contacts__content">
		<span class="contacts__text scroll-animation">
			{{ contacts.content | safe }}
		</span>
	</div>
</section>