.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	min-height: 100vh;
}

@media only screen and (min-height: 667px) {
	.header {
		min-height: 70vh;
	}
}

@media only screen and (min-height: 1680px) {
	.header {
		min-height: 100vh;
	}
}

.header__title {
	font-size: max(45px, min(10vw, 125px));
	font-weight: 700;

	-webkit-user-select: none;
	user-select: none;
	cursor: default;

	letter-spacing: 0.025em;
}

.header a {
	color: inherit;
}

.body--privacy .header__title {
	font-size: max(35px, min(5vw, 100px));
	font-size: clamp(30px, 5vw, 100px);
	font-weight: 600;
	margin-bottom: 0.8em;
}

.body--privacy .header__subtitle {
	font-size: max(20px, min(3.5vw, 50px));
	font-size: clamp(20px, 3.5vw, 50px);
	font-weight: 500;
}
