.features {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;

	min-height: max(200vh, 1680px);
	max-width: 680px;
	margin: 0 auto;
}

.features__title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features__item {
	text-align: center;
}

.features__item-text {
	font-size: max(2em, min(10vw, 4em));
	font-weight: 600;
	color: olive;

	-webkit-user-select: none;
	user-select: none;
	cursor: default;

	word-break: keep-all;
}

@media (prefers-contrast: more) {
	.features__item-text {
		color: var(--primary-color);
	}
}
